<article class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <% site.posts.each(function(post){ %>
      <% if (post.label == 'member'){ %>
      <div class="member">
        <div class="member_photo">
          <%- post.content %>
        </div>
        <div class="member_description">
          <%- post.title %>
        </div>
        <div class="member_links">
        <ul class="list-inline text-center">
          <li>
            <a href="<%= post.email %>">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-inbox fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="<%= post.github %>">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        </div>
      </div>
      <% } %>
  <% }) %>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

